{% extends 'layout.html' %}
{% load static %}

{% block title %} Home Majach {% endblock %}

{% block body %}
<form action="{% url 'intro:forgot_username' %}" method="post" class="box-forgot">
    {% csrf_token %}
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1 data-section="forgot" data-value="forgot-username">Recuperar Usuario</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4 input_info">
                <label for="email" data-section="register" data-value="email"></label>
            </div>
            <div class="col-8 input_info">
                <input type="email" name="email" id="email" placeholder="Correo Electronico">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" type="submit" data-section="forgot" data-value="username">Recuperar Usuario</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}