{% extends 'layout.html' %}
{% load static %}

{% block title %} Home Majach {% endblock %}

{% block body %}
<h2>{{ product.name }} </h2>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-6">
            <div class="container-photo">
                <img src="{{ product.photo.url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-6">
            <div class="container text-section">
                <div class="col">
                    <h2>{{ product.name }}</h2>
                </div>
                <div class="col">
                    <h5>{{ product.description }}</h5>
                </div>
                <div class="row cont-flex">
                    <div class="col">
                        {% if not favorite %}
                        <form action="{% url 'intro:set_favorite_item' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="fav-item item-cash">
                                <i class="bi bi-heart bigger-icon"></i>
                            </button>
                        </form>
                        {% else %}
                        <form action="{% url 'intro:delete_favorite_item' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="fav-item item-cash">
                                <i class="bi bi-heart-fill bigger-icon"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="col"><div class="price-item"><h4>$ {{ product.price }}</h4></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="padding-context">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-6">
                <div class="flex-items-q">
                    <h6 data-section="item" data-value="qualification"></h6>
                    <div class="rating">
                        {% if star == 1 %}
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        {% elif star == 2 %}
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        {% elif star == 3 %}
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        {% elif star == 4 %}
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating"></i>
                        {% elif star == 5 %}
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% if product.stock > 0 %}
                <form action="{% url 'intro:add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-buyproduct"><span data-section="item" data-value="add-cart"></span></button>
                </form>
                {% else %}
                <h6 data-section="item" data-value="no-stock"></h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<form action="{% url 'intro:comment' product.id %}" method="post">
    {% csrf_token %}
    <div class="conntainer-comment">
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                <div class="col col-lg-2">
                    <img src="{{ user.photo.url }}" alt="photo_usuario" width="100">
                    <div class="container">
                        <div class="row mt-2">
                            <div class="col">
                                <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="1"><label for="star5"><i class="bi bi-star-fill star"></i></label>
                                    <input type="radio" id="star4" name="rating" value="2"><label for="star4"><i class="bi bi-star-fill star"></i></label>
                                    <input type="radio" id="star3" name="rating" value="3"><label for="star3"><i class="bi bi-star-fill star"></i></label>
                                    <input type="radio" id="star2" name="rating" value="4"><label for="star2"><i class="bi bi-star-fill star"></i></label>
                                    <input type="radio" id="star1" name="rating" value="5"><label for="star1"><i class="bi bi-star-fill star"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <textarea class="textarea" name="comment" id="comment" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn-comment" data-section="item" data-value="comment"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

<hr>
<h3 class="text-center" data-section="comment" data-value="comment"></h3>
{% for comment in comments %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col-lg-3">
            <img class="circle-img" src="{{ comment.user.photo.url }}" alt="user_photo" width="100">
            {% if comment.stars == 1 %}
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            {% elif comment.stars == 2 %}
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            {% elif comment.stars == 3 %}
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating"></i>
            <i class="bi bi-star-fill see-rating"></i>
            {% elif comment.stars == 4 %}
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating"></i>
            {% elif comment.stars == 5 %}
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            <i class="bi bi-star-fill see-rating" style="color: gold;"></i>
            {% endif %}
        </div>
        <div class="col-lg-9">
            <textarea class="textarea" name="comment" id="comment" readonly>{{ comment.comment }}</textarea>
        </div>
        {% if user.is_admin %}
        <div class="col-lg-9">
            <form action="{% url 'intro:delete_comment' comment.id %}" method="post">
                {% csrf_token %}
                <button class="btn-transparent" type="submit">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

<script src="{% static 'js/stars.js' %}"></script>
{% endblock %}