{% extends 'layout.html' %}
{% load static %}

{% block title %} Home Majach {% endblock %}

{% block body %}

<h3 data-section="cart" data-value="cart"></h3>
<div class="container">
    <div class="row row-cols-2">
        <div class="col-lg-8">
            {% for product in cart %}
            <div class="container-product">
                <div class="cart-product">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col-lg-3">
                                <div class="img-center">
                                    <img src="{{ product.product.photo.url }}" alt="Product_photo" width="100">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="container">
                                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                        <div class="col">
                                            <h4 class="text-center responsive-blanc">{{ product.product.name }}</h4>
                                        </div>
                                        <div class="col">
                                            <div class="container text-center">
                                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                                    <div class="col">
                                                        <form action="{% url 'intro:add_one_product' product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="add-minus-price-btn">
                                                                <i class="bi bi-plus-circle-fill"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col">
                                                        <form action="{% url 'intro:remove_one_product' product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="add-minus-price-btn">
                                                                <i class="bi bi-dash-circle-fill"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-2 align-items-end">
                                        <div class="col">
                                            <h4 class="text-center responsive-text">{{ product.product.name }}</h4>
                                        </div>
                                        <div class="col">
                                            <input class="text-center input-quantity" id="stock" type="number" value="{{ product.quantity }}" min="1" width="30" readonly>
                                        </div>
                                        <div class="col">
                                            &nbsp;
                                        </div>
                                        <div class="col">
                                            <div class="container">
                                                <div class="row button-class">
                                                    <div class="col text-center">${{ product.product.price | floatformat:2 }}</div>
                                                    <div class="col">
                                                        <form action="{% url 'intro:delete_cart' product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="item-cash">
                                                                <i class="bi bi-trash-fill"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <div class="container text-center">
                <div class="row row-cols-1 fixed-container">
                    <form action="{% url 'intro:complete_buy' %}" method="post">
                        {% csrf_token %}
                        <div class="col">
                            <div class="bg-blue">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead style="background-color: #073F74;">
                                            <tr>
                                                <th class="table-color-blue" scope="col">Producto</th>
                                                <th class="table-color-blue" scope="col">Cantidad</th>
                                                <th class="table-color-blue" scope="col">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            {% for product in cart %}
                                            <tr>
                                                <td class="table-color-blue">{{ product.product.name }}</td>
                                                <td class="table-color-blue">{{ product.quantity }}</td>
                                                <td class="table-color-blue">{{ product.product.price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <h5><span data-section="cart" data-value="total"></span> ${{ total }}</h5>
                                <div class="container">
                                    <div class="row row-cols-2">
                                        <div class="col-lg-1">
                                            <input type="checkbox" name="is_delivery" id="is_delivery">
                                        </div>
                                        <div class="col-lg-9">
                                            <p for="is_delivery" class="text-delivery" data-section="cart" data-value="delivery"></p>
                                            <p class="text-information-seller" data-section="cart" data-value="extra-delivery"></p>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control margin-bottom" id="user_buyer" name="user_buyer" placeholder="Codigo Empleado" value="{{ code_seller }}">
                                <p class="text-information-seller" data-section="cart" data-value="info"></p>
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn-buyproduct margin-bottom" data-section="cart" data-value="buy"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}